.nav {
  text-align: center;
  margin-bottom: 40px;
}

.img1 {
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.sec1 {
  display: flex;
  justify-content: space-between;
  margin-left: 550px;
  margin-right: 550px;
  padding: 10px;
  margin-bottom: 50px;
}

.sec2 {
  display: flex;
  justify-content: space-between;
  margin-left: 550px;
  margin-right: 550px;
  padding: 10px;
  margin-bottom: 50px;
}

.sec3 {
  display: flex;
  justify-content: space-between;
  margin-left: 550px;
  margin-right: 550px;
  padding: 10px;
}

.title1 {
  margin-left: 75px;
}

.title2 {
  margin-left: 75px;
}

.title3 {
  margin-left: 75px;
}

.img2 {
  border-radius: 25px;
}

.img3 {
  border-radius: 25px;
}

.img4 {
  border-radius: 25px;
}

@font-face {
  font-family: Poppins;
  src: url(https://fonts.google.com/specimen/Poppins);
}

p {
  color: grey;
}
